[Unit]
Description=AIS Device (using AIS-catcher / Comar AIS-2-USB) Service
Wants=network.target
After=network.target
After=dev-comar_ais2usb.device
Requires=dev-comar_ais2usb.device

[Service]
Type=simple
ExecStart=/opt/tracking-ais/device/device.wrapper /opt/tracking-ais/device/device.%H.cfg
TimeoutStopSec=15s
KillMode=mixed
Restart=on-failure
RestartSec=5s


[Install]
WantedBy=default.target
